.flexWrap {
  display: flex;
  flex-wrap: wrap;
}

.block {
  padding: .1em;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
}
.block .blockInner {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  background: rgba(2,40,50,.3);
  font-size: 16px;
  line-height: 1em;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block.fill .blockInner {
  background: #24d3fd;
}
.block.selected .blockInner {
  border-color: #24d3fd;
}
.block.fill.selected .blockInner {
  background: #24d3fd;
}
.block.relative .blockInner {
  border-color: white;
}
.hud {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  z-index: 1000;
}
.x {
  color: white;
  position: absolute;
  top: -10px;
  right: -15px;
  line-height: 28px;
  font-size: 23px;
  background: black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.toggle {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: #24d3fd;
}
.block.fill .toggle {
  background: black;
  border: 1px solid #24d3fd;
}

.buttonBar {
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 100px;
}
.buttonBar button {
  line-height: 2em;
  width: 100%;
  display: block;
}
hr {
  margin: 0;
  border-color: black;
}

.controls {
  padding: 15px;
}

.settings {
  position: absolute;
  bottom: 100%;
  right: 0;
  background: rgba(0,0,0,.8);
  padding: 10px;
  min-width: 150px
}

button.playing {
  background: #24d3fd;
}
