.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  position: relative;
}
.line {
  position: absolute;
  border: 1px solid white;
  box-sizing: border-box;
}
.line.horizontal {
  width: 100%;
  height: 0;
}
.line.horizontal.a {
  top: calc(100% / 3);
}
.line.horizontal.b {
  bottom: calc(100% / 3);
}
.line.vertical {
  height: 100%;
  width: 0;
}
.line.vertical.a {
  left: calc(100% / 3);
}
.line.vertical.b {
  right: calc(100% / 3);
}

.cell {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
}
.cell.selected {
  background-color: #24d3fd;
}
.cell.alsoSelected {
  background-color: rgba(36, 210, 253, 0.5);
}
.cell.selected.given {
  background-color: rgba(36, 210, 253, 0.1);
}
.cell.invalid {
  color: red;
}

.pencilBoard, .numberBoard {
  width: 150px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.numberCell {
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.numberCell.selected {
  background: rgba(36, 210, 253, 0.5);
}

.number {
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  user-select: none;
}
.given .number {
  opacity: 0.7;
}

.pencilGrid {
  position: absolute;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  flex-wrap: wrap;
}
.centerPencilGrid {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  font-size: 12px;
  font-weight: 900;
  flex-wrap: wrap;
}
.pencil {
  padding: 0 2px;
  user-select: none;
}

.guessed .pencilGrid,
.guessed .centerPencilGrid {
  display: none;
}

.controls .numberCell {
  height: 44px;
  width: 44px;
}

.controls .number {
  font-size: 26px;
  line-height: 44px;
}

.title {
  position: relative;
}
.x {
  position: absolute;
  right: 0;
}
