.flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sequin {
  position: relative;
  background: white;
  border-radius: 50%;
  height: 130%;
  width: 130%;
  box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.fade {
  transition: 1000ms all ease;
  opacity: 0;
}
.fade.active {
  opacity: 1;
}
